@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --navbar-height: 88px;
}

@media (min-width: 768px) {
  :root {
    --navbar-height: 104px;
  }
}

@theme {
  --color-primary: #002bff;
  --color-dark: #0f172a;
  --font-manrope: var(--font-manrope), sans-serif;
  --shadow-footer: 0 -10px 15px -3px rgba(0, 0, 0, 0.1), 0 -4px 6px -4px rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--font-manrope);
  background-color: white;
  color: #0f172a;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #002bff;
  color: white;
}
